.*.swp
*.o
*.cmd
key-build*
*.orig
*.reg
*~
.#*
*#
.emacs.desktop
TAGS*~
git-src
trunk/bin
trunk/build_dir
trunk/dl
trunk/feeds
trunk/staging_dir
trunk/tmp
trunk/logs
trunk/package/feeds
trunk/.config*
OCTEON-SDK/linux/kernel/linux/.config*
OCTEON-SDK/tools
