###############################################################################

# This config file can be used to limit the types of patterns that are allowed
# and the options that the pattern file can be compiled with

# The commented out options aren't supported as of yet

###############################################################################



################################################################################
# Allow or deny certain kinds of patterns
# Rule form should be "rule_name = yes|no"
# The default setting for this set of rules is to allow everything
################################################################################

# allow start offsets {t}
allow_start_offset = "yes"
 
# i.e. {@0} or {@12} etc.
allow_match_at_fixed_offset = "yes"

################################################################################
# The following set options that will disallow compilation of this graph
# The default setting for this set of rules is to have no restrictions
################################################################################

# compile will fail in other than rc mode
# default - no
graph_missing_rc_mode = "no"

# requires –profile, compilation will fail unless 
# –cachealgo profile –profile <filename> is specified
# default - no
graph_missing_profile = "no"

# requires –appprofile, compilation will fail unless 
# –appprofile <valid_option> is specified
# default - no
#graph_missing_appprofile = "no"

# requires –dictionary, compilation will fail unless 
# –cachealgo dictionary  –dictionary <filename> is specified
# default - no
graph_missing_dictionary = "no"

# if cachesize option is less than 2000, graph compilation would be rejected 
# Set to -1 to ignore
# This option is valid ONLY if cachesize is explicitly provided
# Should we check default cachesizes as well?
graph_cache_line_allocation_less_than = -1
 
# if cachesize option is greater than 4000, graph compilation would be rejected
# Set to -1 to ignore
# This option is valid ONLY if cachesize is explicitly provided
graph_cache_line_allocation_greater_than = -1

# if optimization level option is greater than this value, graph compilation would be rejected
# Set to -1 to ignore
# This value can be float value
graph_max_optimization_level = -1

################################################################################
# The following allow for certain maximums and minimums to 
# be set on a per rule or per graph basis
################################################################################

# limits the total number of .* per rule
# Default: -1 (no limits)
rule_max_dot_closures = -1

# [A|a] is ok, but any rule like this [fred|bill|john|dick] would be rejected
#rule_alternation_greater_than = 2

# i.e. If set to 30, bounded repetition {0,200} would be rejected, but {0,20} would be OK
# Similarly, {35} or {35,} will also be rejected
# Default: -1 (no limits)
rule_range_greater_than = -1

# limits the total number of .* per graph
# Default: -1 (no limits)
graph_max_dot_closures = -1
